@model Pratica_Profissional.ViewModel.CondicaoPagamentoVM
@using Pratica_Profissional.Util.Class;
@{
    bool Disabled = Convert.ToBoolean(ViewData["Disabled"]);
    bool Required = Convert.ToBoolean(ViewData["Required"] ?? true);
    bool OnlySelect = Convert.ToBoolean(ViewData["onlySelect"] ?? false);
    bool LabelVertical = Convert.ToBoolean(ViewData["LabelVertical"]);
    string Label = Convert.ToString(ViewData["Label"] ?? "Condição pagamento");
    string classLabel = Convert.ToString(ViewData["classLabel"] ?? Helper.Label);
    string classForm = Convert.ToString(ViewData["classForm"] ?? Helper.Input12);
    var Prefix = Html.ClientPrefixName().ToString(); ;
}

@Html.Hidden("isEdit")

<div class="@classForm">
    @Html.LabelFor(model => model.idCondicaoPagamento, Label, new { @class = "required" })
    <div class="input-group">
        @Html.TextBoxFor(model => model.idCondicaoPagamento, new { @style = "border-radius: 4px 0px 0px 4px; width: 15%;", @class = "form-control number", maxLength = "6" })
        @Html.TextBoxFor(model => model.text, new { @class = "form-control", @style = "width:70%" })
        <a style="border-radius:0px 3px 3px 0px" data-target="#@Pratica_Profissional.Util.Class.Helper.getInputId("Modal", Prefix)" id="@Pratica_Profissional.Util.Class.Helper.getInputId("btn-localizar", Prefix)" title="Abrir a busca de @Label" class="btn btn-primary" data-toggle="modal"><i class="fa fa-search"></i></a>
        @Html.HiddenFor(k => k.text)
    </div>
    @Html.ValidationMessageFor(model => model.idCondicaoPagamento, null, new { @class = "text-danger" })
</div>

<div id="@Pratica_Profissional.Util.Class.Helper.getInputId("ModalListaVenda", Prefix)" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Condições pagamento </b></a></li>
                        </ul>
                    </div>

                    <div style="text-align:right">
                        <button id="@Pratica_Profissional.Util.Class.Helper.getInputId("Create", Prefix)" onclick="OpenModalCreateVenda()" type="button" class="btn btn-success"><i class="fa fa-plus"></i>  Adicionar</button>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">
                            <div id="TableCondicaoPagamentoVenda"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@Pratica_Profissional.Util.Class.Helper.getInputId("Fechar", Prefix)" onclick="FecharModalVenda()" type="button" class="btn btn-outline-dark"><i class="fa fa-times"></i> Fechar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreateVenda", Prefix)" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">
                <div class="panel panel-primary" style="margin-bottom: -1px;">
                    <div class="panel-heading" style="height: 41px; padding-left:2px;font-weight: bold;">
                        <h3 class="panel-title pull-right"><button type="button" style="opacity: inherit;color: #fff;" class="close" data-dismiss="modal">&times;</button></h3>
                        <ul class="nav panel-tabs" style="width:400px">
                            <li class="active"><a data-event="true" style="margin-top:1px;color: black;" data-toggle="tab"><b><i class="fa fa-list-alt" aria-hidden="true"></i> Condições pagamento </b></a></li>
                        </ul>
                    </div>
                    <div id="body" class="modal-body" style="padding: 33px 0px 0px 0px;">
                        <div class="container-fluid">

                            <div class="form-row">
                                <div class="@Helper.Input2">
                                    @Html.Label("idCondicaoPagamento", "Código")
                                    @Html.TextBox("idCondicaoPagamento", null, new { @class = "form-control", disabled = true })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="@Helper.Input12">
                                    @Html.Label("nmCondicaoPagamento", "País", new { @class = "required" })
                                    <div class="@Helper.Input12">
                                        @Html.TextBox("nmCondicaoPagamento", null, new { @class = "form-control", maxlength = "50", style = "text-transform:uppercase" })
                                    </div>
                                    @Html.ValidationMessage("nmCondicaoPagamento", null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="@Helper.Input3">
                                    @Html.Label("dtcadastro", "Data de cadastro", new { @class = "required" })
                                    <div class="input-group-append">
                                        @Html.TextBox("dtcadastro", null, new { @class = "form-control", disabled = true })
                                        <span class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="@Helper.Input3 ">
                                    @Html.Label("dtultalteracao", "Data de cadastro", new { @class = "required" })
                                    <div class="input-group">
                                        @Html.TextBox("dtultalteracao", null, new { @class = "form-control", disabled = true })
                                        <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <div style="text-align:right">
                            <button id="@Helper.getInputId("btnSave", Prefix)" onclick="OpenModalCreateVenda()" type="button" class="btn btn-success"><i class="fa fa-save"></i>  Salvar</button>
                            <button id="@Helper.getInputId("FecharCreate", Prefix)" onclick="FecharModalCreate()" type="button" class="btn btn-danger"><i class="fa fa-ban"></i>  Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AddScriptBlock(
@<script type="text/javascript">
    self = this;
    $(function () {
        document.getElementById("@Pratica_Profissional.Util.Class.Helper.getInputId("text", Prefix)").readOnly = true;

         $("#@Helper.getInputId("btn-localizar", Prefix)").on("click", function () {
             InitModalCondicaoPagamentoVenda();
         });

         $('#@Helper.getInputId("btnSave", Prefix)').on('click', function () {
             self.save();
         });

        $('#@Helper.getInputId("idCondicaoPagamento", Prefix)').change(function (data, e) {
             var id = $('#@Helper.getInputId("idCondicaoPagamento", Prefix)').val();
             if (id == "") {
                 $("#@Helper.getInputId("idCondicaoPagamento", Prefix)").val("");
                 $("#@Helper.getInputId("text", Prefix)").val("");
             } else {
                 $.ajax({
                     dataType: 'json',
                     type: 'GET',
                     url: '@Url.Action("JsDetails", "CondicaoPagamento")',
                     data: { 'id': id },
                     success: function (data) {
                         if (!data) {
                             $.notify({ message: 'Nenhum registro encontrado para o código informado', icon: 'fa fa-exclamation' }, { type: 'danger' } );
                         }
                         $("#@Helper.getInputId("id", Prefix)").val(data.id);
                         $("#@Helper.getInputId("text", Prefix)").val(data.text);
                     },
                     error: function (err) {
                         alert(err);
                         alert("Erro ao buscar registro");
                     }
                 });
             }
         });
     });

    this.getForm = function() {
        var form = {
                idCondicaoPagamento : $('#@Pratica_Profissional.Util.Class.Helper.getInputId("idCondicaoPagamento", Prefix)'),
                nmCondicaoPagamento: $('#@Pratica_Profissional.Util.Class.Helper.getInputId("nmCondicaoPagamento", Prefix)'),
                dtCadastro: $('#@Pratica_Profissional.Util.Class.Helper.getInputId("dtCadastro", Prefix)'),
                dtUltAlteracao: $('#@Pratica_Profissional.Util.Class.Helper.getInputId("dtultalteracao", Prefix)'),
        }
        return form;
    };

    this.clear = function () {
        var form = self.getForm();
        form.nmCondicaoPagamento.val("");
        form.dtCadastro.val("");
        form.dtUltAlteracao.val("");
        form.nmCondicaoPagamento.focus();
    };

    this.isValid = function () {
        var valid = true;
        var form = self.getForm();

        if (IsNullOrEmpty(form.nmCondicaoPagamento.val())) {
            form.nmCondicaoPagamento.blink({ msg: "Campo condição de pagamento é obrigatório" });
            form.nmCondicaoPagamento.focus();
            valid = false;
        }

        return valid;
    };

    getModel = function (form) {
        var model = {
            idCondicaoPagamento: form.idCondicaoPagamento.val(),
            nmCondicaoPagamento: form.nmCondicaoPagamento.val(),
        }
        return model;
    };

    this.save = function () {
        if ($('#@Pratica_Profissional.Util.Class.Helper.getInputId("isEdit", Prefix)').val() == "S") {
            this.update();
        } else {
            this.insert();
        }
    }

       this.insert = function () {
        var form = self.getForm();
        var model = getModel(form);
           console.log(form);
           console.log(model);
        if (self.isValid(model)) {

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("JsCreate", "Pais")',
                data: model,
                success: function (data) {
                    self.clear();
                    InitModalPaises();
                    $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                    $.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000, });

                },
                error: function (request) {
                    alert("Erro ao adicionar registro")
                }
            });
        }
    };

     this.update = function () {
        var form = self.getForm();
        var model = getModel(form);
        if (self.isValid(model)) {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("jsUpdate", "Pais")',
                data: model,
                success: function (data) {
                    self.clear();
                    InitModalPaises();
                    $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreate", Prefix)").modal("hide");
                    $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalLista", Prefix)").css("overflow", "auto");
                    $.notify({ message: data.message, icon: 'fa fa-exclamation' }, { type: 'success', z_index: 2000, });
                },
            });
        }
    };



    function InitModalCondicaoPagamentoVenda() {
        $("#TableCondicaoPagamentoVenda").empty();
        let tableVenda = null
        let lis = getTableCondicaoPagamentoVenda();
        $("#TableCondicaoPagamentoVenda").append(lis);

        tableVenda = $('#listaCondicaoVenda').DataTable({
            ajax: { url: $('#listaCondicaoVenda').attr('data-url') },
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json',
            },
            columns: [
                {
                    sortable: false,
                    data: null,
                    sClass: 'details-control',
                    mRender: function (data) {
                        return '<a class="btn btn-warning btn-sm" data-event="item" title="Selecionar registro"><i class="fa fa-check"></i> </a>';
                    }
                },
                {
                    sortable: false,
                    data: null,
                    mRender: function (data) {
                        return '<a class="btn btn-info btn-sm" onclick="OpenEdit(' + data.id + ')" title="Alterar registro"><i class="fa fa-edit"></i> </a>';
                    }
                },

                { data: "id" },
                { data: "text" }

            ],
        });
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalListaVenda", Prefix)").modal("show");

        $('#listaCondicaoVenda tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = tableVenda.row(tr);
            if (row.child.isShown()) {
                $('div.slider', row.child()).slideUp(function () {
                    row.child.hide();
                    tr.removeClass('shown');
                });
            }
            else {
                row.child(SelectCondicaoPagamentoVenda(row.data())).show();
                tr.addClass('shown');
                $('div.slider', row.child()).slideDown();
            }
        });
      }
    function getTableCondicaoPagamentoVenda() {
        let tmp = `<table id="listaCondicaoVenda" class="table table-striped table-bordered" style="width:100%" data-url="@Url.Action("JsQuery", "CondicaoPagamento")">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th export="true" style="width:10%">Código</th>
                                <th export="true" style="width:90%">Nome</th>
                            </tr>
                        </thead>
                   </table>`;
          return tmp;
    };

    function FecharModalVenda() {
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalListaVenda", Prefix)").modal("hide");
    };
    function FecharModalCreateVenda() {
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreateVenda", Prefix)").css("overflow", "hidden");
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreateVenda", Prefix)").modal("hide");
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalListaVenda", Prefix)").css("overflow", "auto");
    };

    function OpenModalCreateVenda() {
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("btnUpdate", Prefix)").hide();
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalListaVenda", Prefix)").css("overflow", "hidden");
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreateVenda", Prefix)").css("overflow", "auto");
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreateVenda", Prefix)").modal("show");
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("isEdit", Prefix)").val("N");
        if ($("#@Pratica_Profissional.Util.Class.Helper.getInputId("isEdit", Prefix)").val() == "N") {
            $(".isEdit").hide();
        }
    };

    function SelectCondicaoPagamentoVenda(data) {
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalListaVenda", Prefix)").modal("hide");
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("idCondicaoPagamento", Prefix)").val(data.id);
        $("#@Pratica_Profissional.Util.Class.Helper.getInputId("text", Prefix)").val(data.text);
        return false;
    }
''
    function OpenEditVenda(id) {
        $.ajax({
            dataType: 'json',
            type: 'GET',
            url: '@Url.Action("JsDetails", "CondicaoPagamento")',
            data: { 'id': id },
            success: function (data) {
                self.clear();
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalCreate", Prefix)").modal("show");
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("isEdit", Prefix)").val("S");
                if ($("#@Pratica_Profissional.Util.Class.Helper.getInputId("isEdit", Prefix)").val() == "S") {
                    $(".isEdit").show();
                }
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("idCondicaoPagamento", Prefix)").val(data.id);
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("nmCondicaoPagamento", Prefix)").val(data.text);
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("dtCadastro", Prefix)").val(data.dtCadastro);
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("dtUltAlteracao", Prefix)").val(data.dtUltAlteracao);
                $("#@Pratica_Profissional.Util.Class.Helper.getInputId("ModalLista", Prefix)").css("overflow", "auto");
            },
            error: function (request) {
                alert("Erro ao buscar registro");
            }
        });
        return false;
    }
</script>
)