@using Pratica_Profissional.Util.Class;
@model Pratica_Profissional.ViewModel.EstadoVM

@{
    var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string readOnlyIf = readOnly == true ? "disabled" : "";
}

@Html.AntiForgeryToken()
<h6 class="card-header">Informações</h6>

<div class="card-body">

    @if (action != "create")
    {
        <div class="form-group">
            <div class="form-row">
                <div class="@Helper.Input2">
                    @Html.LabelFor(model => model.idEstado, "ID", new { @class = Helper.LabelTop })
                    @Html.TextBoxFor(model => model.idEstado, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    }

    <div class="form-group">
        <div class="form-row">
            <div class="@Helper.Input10">
                @Html.LabelFor(model => model.nmEstado, "Estado", new { @class = "required" })
                @Html.TextBoxFor(model => model.nmEstado, new { @class = "form-control text", maxlength = "50", readOnlyIf })
                @Html.ValidationMessageFor(model => model.nmEstado, null, new { @class = "text-danger" })
            </div>

            <div class="@Helper.Input2">
                @Html.LabelFor(model => model.uf, "UF", new { @class = "required" })
                @Html.TextBoxFor(model => model.uf, new { @class = "form-control textNotSpace", maxlength = "2", readOnlyIf })
                @Html.ValidationMessageFor(model => model.uf, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            @Html.EditorFor(u => u.Pais, "Pais/select", new { disabled = false })
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            @if (action != "create")
            {
                <div class="@Helper.Input3">
                    @Html.LabelFor(model => model.dtCadastro, "Data de cadastro", new { @class = Helper.LabelTop })
                    @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="@Helper.Input3">
                    @Html.LabelFor(model => model.dtAtualizacao, "Última atualização", new { @class = Helper.LabelTop })
                    @Html.TextBoxFor(model => model.dtAtualizacao, new { @class = "form-control", disabled = "disabled" })
                </div>
            }
        </div>
    </div>
    <br />

</div>

<div class="d-flex justify-content-end" style="padding-right:33px">
    <button type="button" style="margin-right:10px" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Estado")'">Sair</button>
    @if ((action != "details") && (action != "delete"))
    {
        <button type="submit" class="btn btn-success">Salvar</button>
    }
    @if (action == "delete")
    {
        <button type="submit" class="btn btn-danger">Remover</button>
    }

</div>

