@using Pratica_Profissional.Util.Class;
@model Pratica_Profissional.ViewModel.CondicaoPagamentoVM

@{
    var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    var pais = new Pratica_Profissional.Models.Pais();
}

@Html.AntiForgeryToken()

<h6 class="card-header">Informações</h6>

<div class="card-body">
    @if (action != "create")
    {
        <div class="form-group">
            <div class="form-row">
                <div class="@Helper.Input2">
                    @Html.LabelFor(model => model.idCondicaoPagamento, "Código", new { @class = Helper.LabelTop })
                    @Html.TextBoxFor(model => model.idCondicaoPagamento, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="form-row">
            <div class="@Helper.Input6">
                @Html.LabelFor(model => model.nmCondicaoPagamento, "Condição de pagamento", new { @class = "required" })
                @Html.TextBoxFor(model => model.nmCondicaoPagamento, new { @class = "form-control", maxlength = "50" })
                @Html.ValidationMessageFor(model => model.nmCondicaoPagamento, null, new { @class = "text-danger" })
            </div>

            <div class="@Helper.Input2">
                @Html.LabelFor(model => model.txJuros, "Juros %", new { })
                @Html.TextBoxFor(model => model.txJuros, new { @class = "form-control taxa" })
            </div>

            <div class="@Helper.Input2">
                @Html.LabelFor(model => model.multa, "Multa %", new { })
                @Html.TextBoxFor(model => model.multa, new { @class = "form-control taxa" })
            </div>

            <div class="@Helper.Input2">
                @Html.LabelFor(model => model.desconto, "Desconto %", new { })
                @Html.TextBoxFor(model => model.desconto, new { @class = "form-control taxa" })
            </div>
        </div>
    </div>
</div>

<h6 class="card-header">Lista de parcelas</h6>

<div class="card-body">
    @if (action != "details" && action != "delete")
    {
        <div class="form-group">
            <div class="form-row">
                @Html.EditorFor(u => u.formaPagamento, "FormaPagamento/select", new { disabled = false })
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="@Helper.Input3">
                    @Html.Label("nrPrazo", "Prazo", new { @class = Helper.LabelTop })
                    @Html.TextBox("nrPrazo", null, new { @class = "form-control integer", @style = "text-align:right" })
                </div>

                <div class="@Helper.Input3">
                    @Html.Label("nrPorcentagem", "Porcentagem (%)", new { @class = Helper.LabelTop })
                    @Html.TextBox("nrPorcentagem", null, new { @class = "form-control currency" })
                </div>

                <div class="@Helper.Input2">
                    @Html.Label("nrTotalPorcentagem", "Total (%)", new { @class = Helper.LabelTop })
                    @Html.TextBox("nrTotalPorcentagem", null, new { @class = "form-control currency", disabled = true })
                </div>

                <div class="@Helper.Input2">
                    @Html.Label("addParcela", " ", new { @class = Helper.Label })
                    <div class="@Helper.Input8" style="margin-top:7px;">
                        <button id="addParcela" role="button" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar</button>
                    </div>
                </div>

                <div class="@Helper.Input2">
                    @Html.Label("removeParcelas", " ", new { @class = Helper.Label })
                    <div class="@Helper.Input8" style="margin-left:-60px">
                        <button id="removeParcelas" role="button" class="btn btn-danger"><i class="glyphicon glyphicon-plus-sign"></i> Remover parcelas</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.HiddenFor(model => model.jsList)
    <table id="tblCondicao" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="10%">Nº</th>
                <th width="50%">Forma de pagamento</th>
                <th style="width:20%;text-align:right">Prazo</th>
                <th style="width:20%;text-align:right">Porcentagem</th>
            </tr>
            @Html.ValidationMessageFor(model => model.ListCondicao, null, new { @class = "text-danger" })
        </thead>
    </table>


    <br />
    @if (action != "create")
    {
        <div class="d-flex align-items-start">
            <div class="@Helper.Input3">
                @Html.LabelFor(model => model.dtCadastro, "Data de cadastro", new { @class = Helper.LabelTop })
                @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control", disabled = "disabled" })
            </div>

            <div class="@Helper.Input3">
                @Html.LabelFor(model => model.dtAtualizacao, "Última atualização", new { @class = Helper.LabelTop })
                @Html.TextBoxFor(model => model.dtAtualizacao, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    }

</div>


<div class="d-flex justify-content-end" style="padding-right:33px">
    <button type="button" style="margin-right:10px" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "CondicaoPagamento")'">Sair</button>
    @if ((action != "details") && (action != "delete"))
    {
        <button type="submit" class="btn btn-success">Salvar</button>
    }
    @if (action == "delete")
    {
        <button type="submit" class="btn btn-danger">Remover</button>
    }

</div>




